<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.tjpdc.cvillebikemapp" android:versionName="1.10"
	android:versionCode="6">
	
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<supports-screens android:normalScreens="true"
		android:anyDensity="true" />
	<application android:label="@string/app_name"
		android:debuggable="false" android:icon="@drawable/icon_96x96">
		<activity android:label="@string/app_name" android:name="MainInput"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:label="@string/recording_title"
			android:name="RecordingActivity" android:finishOnTaskLaunch="true"
			android:launchMode="singleInstance" />

		<activity android:name="SaveTrip" android:finishOnTaskLaunch="true"
			android:launchMode="singleInstance" />

		<activity android:name="MissingTripAlert"
			android:finishOnTaskLaunch="true" android:launchMode="singleInstance" />

		<activity android:name="ShowMap" android:finishOnTaskLaunch="true"
			android:launchMode="singleTop" />
		<activity android:name="UserInfoActivity"
			android:finishOnTaskLaunch="true" android:launchMode="singleInstance" />
		<service android:name="RecordingService" android:enabled="true"
			android:exported="true" />
		<uses-library android:name="com.google.android.maps" />
	</application>
</manifest>
